build/
eclipse/
run/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.gradle/
.nb-gradle/
.nb-gradle-properties
.settings/
.classpath
.project
/gradle.properties
push/
.idea/
*.iml
run/
private/
*.ipr
*.iws
out/
bin/
classes/
src/main/java/extendedshaders/core/
mcsrc/
build.gradle
gradle/
gradlew
gradlew.bat
*.launch
forge-1.10.2-12.18.3.2221-changelog.txt
LICENSE-new.txt
Paulscode SoundSystem CodecIBXM License.txt
Paulscode IBXM Library License.txt